<html>
<head>
</head>
<body>
{% set entries = craft.entries.section('news').limit(10).all() %}
{% for entry in entries %}
    <article>
        <h1><b>{{ entry.type }}: </b></b><a href="{{ entry.url }}">{{ entry.title }}</a></h1>
        {{ entry.body }}
        <a href="{{ entry.url }}">Continue reading</a>
    </article>
{% endfor %}
</body>
</html>